.ui-input.input {
  font-family: var(--ui-font-family);
  font-size: 1rem;

  & > span.input__label {
    display: block;
    font-size: 0.75em;
  }
  & > input.input__field {
    margin-top: 2px;
    padding: 8px 12px;
    width: 100%;
    display: block;
    outline: none;

    border: 1.5px solid gray;
    border-radius: 6px;

    font-family: var(--ui-font-family);
    font-size: 1em;

    box-shadow: 0 1px 3px #0002;

    &:not(:disabled) {
      &:focus, &:active {
        border-color: var(--ui-color-outline);
        box-shadow: 0 1px 3px #0002, 0 0 0 1px var(--ui-color-outline);
      }
    }
  }
}

.ui-input.input.input_disabled {
  & > input.input__field {
    border-style: dashed;
  }
}

.ui-input.input.input_invalid {
  & > span.input__label {
    color: red;
  }

  & > input.input__field {
    border-color: red;

    &:not(:disabled) {
      border-color: red;

      &:focus, &:active {
        box-shadow: 0 1px 3px #0002, 0 0 0 1px red;
      }
    }
  }
}
