label.checkbox {
  display: flex;
  gap: 10px;

  font-family: var(--ui-font-family);

  user-select: none;

  span.checkbox__box {
    position: relative;
    width: 22px;
    height: 22px;
    border: 1.5px solid currentColor;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;

    &:checked ~ span.checkbox__box {
      color: var(--ui-color-primary);;
    }

    &:not(:checked) ~ span.checkbox__box {
      &::before, &::after {
        width: 0;
        height: 0;
        opacity: 0;
      }
    }

    &:not(:disabled) {
      &:focus, &:active {
        & ~ .checkbox__box {
          border-color: var(--ui-color-outline);
          outline: 1px solid var(--ui-color-outline);
        }
      }
    }
  }
}

label.checkbox[data-type='regular'] span.checkbox__box {
  &::before, &::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 1.5px;
    border-radius: 1.5px;
    background: currentColor;
    transition: all 200ms;
  }

  &::before {
    width: 6px;
    transform: translateX(-3.5px) translateY(2px) rotate(45deg);
  }

  &::after {
    width: 12px;
    transform: translateX(2px) translateY(0px) rotate(-45deg);
  }
}

label.checkbox[data-type='group'] span.checkbox__box {
  &::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 1.5px;
    background: currentColor;
    transition: all 200ms;
  }
}

label.checkbox.checkbox_disabled {
  color: gray !important;

  span.checkbox__box {
    color: gray !important;
    border-style: dashed;
  }
}
