.ui-table {
  font-family: var(--ui-font-family);

  border-radius: 6px;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: 0 0 0 1px gray, 0 1px 3px #0002;

  tr {
    text-align: left;
    vertical-align: bottom;

    th {
      padding: 8px 12px;
      border: 1px solid gray;
      font-weight: 500;
    }

    td {
      padding: 8px 12px;
      border: 1px solid gray;
    }
  }

  thead {
    background: #0001;
  }

  tbody {
    tr {
      &:hover {
        //box-shadow: 0 1px 3px #0004;
        //background: #0001;
      }
    }
  }
}
